/* hide RSS button */
a.td-rss-button {
    clear: both;
    visibility: hidden;
}

/*
Styles for the page meta information container.
It adds a bottom border.
*/
div.td-page-meta {
    border-bottom: 1px solid black;
}

$primary: #343131;

/* no Google fonts */
$td-enable-google-fonts: false;

/* reduce distances in overview page */
.entry {
    padding: 0 !important;
}

/* change quote bar color */
.td-content > blockquote {
    border-left: 6px solid #797676 !important;
}

/* less space before code blocks */
.td-content .highlight {
    margin: unset !important;
}
