/*
- hide search field in top bar
- hide RSS button
*/

div.navbar-nav > input,
a.td-rss-button {
    clear: both;
    visibility: hidden;
}

$primary: #343131;

/* no Google fonts */
$td-enable-google-fonts: false;

/* reduce distances in overview page */
.entry {
    padding: 0 !important;
}
