/*
- hide search field in top bar
- hide RSS button
*/
div.td-search > input,
div.td-search__icon,
a.td-rss-button {
    clear: both;
    visibility: hidden;
}

$primary: #343131;

/* no Google fonts */
$td-enable-google-fonts: false;

/* reduce distances in overview page */
.entry {
    padding: 0 !important;
}

/* change quote bar color */
.td-content > blockquote {
    border-left: 6px solid #797676 !important;
}

/* less space before code blocks */
.td-content .highlight {
    margin: unset !important;
}
