Redirect 301 /it.html /it/
Redirect 301 /it/docker.html /it/docker/
Redirect 301 /it/git.html /it/git/
Redirect 301 /it/kubernetes.html /it/kubernetes/
Redirect 301 /py.html /python/
Redirect 301 /py/colab.html /python/colab/
Redirect 301 /py/conda.html /python/conda/
Redirect 301 /py/joblib.html /python/joblib/
Redirect 301 /py/jupyter.html /python/jupyter/
Redirect 301 /py/pandas.html /python/pandas/
Redirect 301 /py/pip.html /python/pip/
Redirect 301 /ml.html /machine-learning/
Redirect 301 /linux.html /linux/
Redirect 301 /linux/screen.html /linux/screen/
Redirect 301 /k8s.html /it/
Redirect 301 /k8s/kubectl.html /it/kubectl/
Redirect 301 /k8s/(.*) /it/
